* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chau Philomene One', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.header-container{
    width:100%;
    height:50px;
    background-color:#3c4652;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

p {
    font-size: 14px;
    color: #666;
}

a {
    color: #534f4fc6;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


button:hover {
    background-color: #333;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 15px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-container a {
    color: white;
    font-size: 14px;
    margin: 0 10px;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 14px;
}

/* ------------------- Page d'accueil ---------------------------- */

.bar{
    background-color: #3c4652;
    height: 2.6em;
}
.navbar {
    background-color: #ffffff;
    height: 3em;
    width: 100%;
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre */
    z-index: 1000;
}

.logo-container {
    flex: 1; /* un peu de place */
}

.logo { /* Style de l'image logo*/
    display: flex;
    height: 4em;
    width: 10em;
    cursor: pointer;
}

.navtext {
    font-size: 18px;
    font-family: 'Chau PhilomeneOne';
    color: #517aac;
    cursor: pointer;
    padding: 5px 15px;
}

.navtext:hover {
    background-color: #517aac;
    border-radius: 0.2em;
    color: white; 
}

.navbar_text {
    list-style-type: none;
    display: flex;
    flex: 5; /* Permet au texte de prendre plus de place */
    justify-content: center; 
    gap: 2em; /* Espace entre les éléments de la nav */
}

.navtext a {
    padding: 5px 15px;
    text-decoration: none; 
    color: inherit;
}

.navtext a:hover {
    background-color: #517aac;
    padding: 5px 15px;
    color: white;
    border-radius: 0.2em;
}

@font-face {
    font-family: 'Chau PhilomeneOne';
    src: url(../assets/chau-philomene-one/ChauPhilomeneOne-Regular.ttf);
}


.navbar-icons {
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

.notif, .profile {
    height: 30px;
    width: 30px;
}

.active {
    background-color: #517aac; 
    color: white; 
    border-radius: 0.2em;
}

/* ----------------- ACCUEIL --------------------------*/
.se-deconnecter{
    font-family: 'Chau PhilomeneOne', sans-serif;
    font-size: 15px;
}
.bonjour-user{
    font-family: 'Chau PhilomeneOne', sans-serif;
    font-size: 20px;
    color: #3c4652;
    margin-top: 20px;
    text-align: center;
    
}
.block_news{
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    height: auto; 
}
.titre_news {
    font-family: 'Chau PhilomeneOne', sans-serif;
    font-size: 1.8em;
    color: #3c4652;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.text_news {
    font-family: 'Chau PhilomeneOne', sans-serif;
    font-size: 1.2em;
    color: #3c4652;
    margin: 50px;
    line-height: 1.5;

}
.blue-text{
    color: #517aac;
}

.image-container {
    position: static;
    max-width: 100%;
    display: inline-block;
}

.image_dir {
    width: 100%;
    height: auto;
}

.text-overlay-container {
    position: absolute; 
    top: 27%; 
    left: 27%; 
    color: white;
    font-size: 1.5em;
    font-family: 'Chau PhilomeneOne', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
}

.overlay-paragraph {
    color: white;
    font-size: 1.2em;
    font-family: 'Chau PhilomeneOne', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
    margin: 0; 
    line-height: 1.2; 
}

.blue-light-text{
    font-size: 1.4em;
    color:#38b6ff;
}

.text-overlay {
    margin: 0; 
    line-height: 1.2; 
}

.accueil{
    display:flex;
    align-items: flex-start;
    background-color: #ffffff;
}

.description_container{
    background-color: #ffffff;   
    padding: 1.5em 5em 0em 5em;
    text-align: center;
}

.article{
    font-size: 1.4em;
    font-family: 'Chau PhilomeneOne', sans-serif;
    color: #55677f;
   
}
 .icons{
    margin-top: 2em;
    display:flex;
    justify-content: space-around;
    margin-bottom: 50px;
 }

 .description_image{
    font-family: 'Chau PhilomeneOne', sans-serif;
    font-size: 1.2em;
    color: #55677f;
    margin-top: 0.5em;
 }

 .every_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 
.image_icon{
    height: 8em;
}

/*FOOTER */

.foot_bar{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3c4652;
    height: 2.6em;
}

.foot_ul_text{
    list-style-type: none; /*pour faire invisible des points */
    display: flex;
    gap: 4em;
    justify-content: center;
    flex:4;
}
.foot_titre{
    flex:0.8;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    color: white;
}

.foot_text{
    list-style-type: none;
    font-size: 18px;
    font-family: 'Chau PhilomeneOne';
    cursor: pointer;
    padding: 5px 15px;
    color: #ffffff;
    text-decoration: none; 
}

/*Pour la page modification d'un salarié*/
.saisie{
    background-color: #ffffff;
    display: flex;
    margin-left: 5em;
    width: 90%;
}

.modsallabel {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }

  .container_modsal {
    width: 80%;
    margin: 20px auto;
    margin-top: 5em;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container_b h2 {
    color: #3a6ea5;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.box button{
    font-family: 'Chau PhilomeneOne';
}
.form-group {
    display: flex;
    margin-bottom: 15px;
    justify-content: left;
    margin-left: 5em;
}
.form-group label {
    display: block;
    margin-bottom: -5px;
    color: #333;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group input[type="text"] {
    width: calc(50% - 10px);
}
.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.form-actions button {
    background-color: #3a6ea5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 2em;
    cursor: pointer;
}
.form-actions button.reset {
    background-color: #555;
}

/* nouveau_compte */

.container_b {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background: none;
    color: #534f4fc6;
    cursor: pointer;
    font-size: 16px;
    margin: 0px;
    padding: 0px 10px 0px 5px;
}

/*a partir d'ici gestion congé*/

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Conteneur pour les carrés */
.container_b {
    display: flex;
    gap: 60px; /* Espacement entre les carrés */
    
}

/* Style pour les carrés bleus */
.box {
    width: 225px;
    height: 225px;
    background-color: #517aac;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/* Style pour les boutons */
.box button {
    padding: 15px 30px;
    font-size: 25px;
    color: white;
    background-color: #517aac;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Effet hover sur les boutons */
.box button:hover {
    background-color: #517aac;
}

/*demande de congés 2*/

.main_valcong {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

/* Style pour le titre */
.titre {
    font-family: 'Chau philomeneOne';
    color: #517aac;
    font-size: 36px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 1.5em;

}

/* Section de filtrage */
.filter-section {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: center;
}

th, td {
    padding: 12px;
}

th {
    background-color: #517aac;
    color: white;
}

td {
    background-color: #f9f9f9;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

button, input {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-classique {
    color: white;
    background-color: #517aac;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="number"] {
    border: 1px solid #ccc;
}

/* Styles des boutons */
.btn-accepter {
    background-color: #28a745; /* Vert */
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px; /* Espace entre les boutons */
}

.btn-refuser {
    background-color: #b93114; /* Rouge */
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-reset {
    background-color: gray;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}

.btn-accepter:hover {
    background-color: #218838; /* Vert foncé au survol */
}

.btn-refuser:hover {
    background-color: #c82333; /* Rouge foncé au survol */
}

.table-container {
    height: 400px; /* Hauteur fixe */
    overflow-y: auto; /* Défilement vertical activé */
    margin-bottom: 20px;
}

/* ------------------------ MODIFICATION DE TANGUY historique fiche------------------------------------ */

.consult_paie{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: sans-serif;
    max-width: 800px;
    background-color: white;
    color: #000;
    padding: 10px 75px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.centrer-titre-fiche{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-item {
    display: flex; /* Utilise flexbox pour l'alignement */
    justify-content: space-between; /* Espace entre les éléments */
    padding: 5px 5px 5px 5px; /* Espacement entre les éléments */
    
    border: solid;
    width: 900px;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.apparance-bouton-pdf{
    background: none;
}
.info {
    text-align: left;
    display: flex;
}

.date {
    text-align: right; 
}

.ajout_fiche_paie {
    font-family: sans-serif;
    background-color: white;
    color: #000;
    top: 30%;
    left: 50%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style-type: none; /* Supprime les puces de la liste */ 
    padding-left: 50px;
    padding-right: 50px;
}



.gestion-text{
   
    font-family: 'Chau PhilomeneOne';
    font-size: 27px;
    background-size: 100vw;
    color: #517aac;
    margin-bottom: 20px;
    padding: 7px;
}

.gestion-text i {
    color: #01ee38;
    text-align: right;
    border-style: solid;
    border-radius:5px;
    border-color: #000;
    border-width: 2px;
    padding: 1px; 
    position: absolute;
    right: 10px; /* Positionne l'icône à droite */
    top: 50%;
    transform: translateY(-50%); /* Centre verticalement l'icône */
    
}
.gestion-fiches{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*------------------------------------------------------------MODIFICATION CALENDAR-------------------------------------*/

.container-cong{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.container-cong h1{
    font-family: 'Chau philomeneOne';
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
label{
    color: #333;
    font-size: 20px;
    font-family: 'Chau philomeneOne';
    
}

.form-group{
    display:flex;
    flex-direction: column;
    margin-left:0;
}

input[type="text"]{
    padding:8px;
}

.form-group #motif #date_cong{
    display:flex;
    flex-direction: column;
    padding:8px;
}

.form-group#date_cong{
    display:flex;
    flex-direction: column;
    padding:8px;
    margin-left:0px;
}

.form-group #duration{
    display:flex;
    flex-direction: column;
    margin-left:0;
    padding-top:8px;
    padding-bottom: 8px;
}

.form-cong{
    display:flex;
    justify-content: center;
}

  /*---------------------------*/
  /*----------------------Responsive TELEPHONE ------------------*/

@media (max-width: 600px){
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .navbar_text {
        flex-direction: column;
        gap: 1em;
        text-align: center;
        margin-bottom: 1em;
    }
    .navtext{
        font-size: 1.2em;
    }
    .logo {
        height: 3em;
        width: 8em;
    }
    .navbar-icons {
        gap: 50px; 
    }
    /*------------------------ACCUEIL---------------------------------*/
    .accueil{
        flex-direction: column;
    }
    .block_news{
        display: none;
    }
    .text-overlay-container{
        display: none;
    }
    .icons{
        flex-direction: column;
    }
    .image_icon{
        height: 10em;
        width: 10em;
    }
    .article{
        font-size: 20px;
    }
    /*------------------------Conge1-----------------------------*/
    .container_b{
        margin-top: 60px;
        margin-bottom: 60px;
        flex-direction: column;
    }
    /*------------------------Mes demandes de congés-----------------------------*/
    .titre{  
        text-align: center;
    }
    label{
        font-size: 25px;
    }
    .btn-classique{
        font-size: 25px;
    }
    table th, table td{
        font-size: 25px;
        white-space: nowrap; /* Pour ne pas mettre texte en colonne*/
    }


    /*---------------------- Gestion congés calendrier ------------------*/
    


    /*----------------------------- histroique fiche de paie---------------*/
    .list-item{
        width: auto;
        margin-left: 5px;
        margin-right: 5px;

    }
    .historic_fiche_paie{
        display:block;
        left:0;
        transform: none;
        position: relative;
        padding: 0px 5px 0px 5px;
    }
    .consult_paie{
        margin: 30px 0px 0px 0px;
    }
    .gestion-fiches{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /*----------------------Admin gestion salariés ----------------*/
    .ajout_fiche_paie{
        transform: none;
        padding: 0px;
        left: 0;
        position: static;
    }
    /*--------------------------------FOOTER--------------------------------*/
    .foot_bar{
        flex-direction: column;
        color: #3c4652;
        height: fit-content;
    }
    .foot_ul_text {
        flex-direction: column;
        margin-top: 1em;
        gap: 1em;
    }
}

/* --------------------------------*/
/*----------------------Responsive IPAD ------------------*/
@media (min-width: 601px) and (max-width: 1024px) {
    /*Accueil*/
    .block_news{
        display: none;
    }
    .logo {
        height: 3em;
        width: 8em;
    }
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .navbar_text {
        flex-direction: column;
        gap: 1em;
        text-align: center;
        margin-bottom: 1em;
    }
    .navtext {
        font-size: 25px;
    }
    .notif, .profile {
        height: 40px;
        width: 40px;
    }
    .text-overlay-container {
        top: 39%;
        left: 5%;
        font-size: 1.2em;
    }

    /*------------------------Conge1-----------------------------*/
    .container_b{
        margin-top: 60px;
        margin-bottom: 60px; 
    }

    /*------------------------Mes demandes de congés-----------------------------*/
    .titre{  
        text-align: center;
    }
    label{
        font-size: 25px;
    }
    .btn-classique{
        font-size: 25px;
    }
    table th, table td{
        font-size: 25px;
        white-space: nowrap; /* Pour ne pas mettre texte en colonne*/
    }

    /*---------------------- Gestion congés calendrier ------------------*/
    
    /*----------------------------- histroique fiche de paie---------------*/
    .list-item{
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
    }
    .historic_fiche_paie{
        display:block;
        left:0;
        transform: none;
        position: relative;
        padding: 0px 5px 0px 5px;
    }
    
    /*----------------------Admin gestion salariés ----------------*/
    .ajout_fiche_paie{
        transform: none;
        padding: 0px;
        left: 0;
        position: static;
    }

    /*--------------------------------FOOTER--------------------------------*/
    .foot_bar{
        flex-direction: column;
        color: #3c4652;
        height: fit-content;
    }
    .foot_ul_text {
        flex-direction: column;
        margin-top: 1em;
        gap: 1em;
    }
    .foot_titre{
        font-size: 25px;
    }
    .foot_text{
        font-size: 25px;
    }
}
