
/*demande de congés 2*/

main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

/* Style pour le titre */
h1 {
    font-family: 'Chau philomene';
    color: #517aac;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Section de filtrage */
.filter-section {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: center;
}

th, td {
    padding: 12px;
}

th {
    background-color: #517aac;
    color: white;
}

td {
    background-color: #f9f9f9;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

button, input {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button {
    color: white;
    background-color: #517aac;
}

button:hover {
    background-color: #517aac;
}

input[type="number"] {
    border: 1px solid #ccc;
}
