* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chau Philomene One', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.header-container{
    width:100%;
    height:50px;
    background-color:#3c4652;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}

a {
    color: #534f4fc6;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


button:hover {
    background-color: #333;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 15px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-container a {
    color: white;
    font-size: 14px;
    margin: 0 10px;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 14px;
}

/* ------------------- Page d'accueil ---------------------------- */

.bar{
    background-color: #3c4652;
    height: 2.6em;
}

.navbar {
    background-color: #ffffff;
    height: 3em;
    width: 100%;
    position: fixed;
    top: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre */
}

.logo-container {
    flex: 1; /* un peu de place */
}

.logo { /* Style de l'image logo*/
    display: flex;
    height: 4em;
    width: 10em;
    cursor: pointer;
}

.navtext {
    font-size: 18px;
    font-family: 'Chau PhilomeneOne';
    color: #517aac;
    cursor: pointer;
    padding: 5px 15px;
}

.navtext:hover {
    background-color: #517aac;
    border-radius: 0.2em;
    color: white; 
}

.navbar_text {
    list-style-type: none;
    display: flex;
    flex: 5; /* Permet au texte de prendre plus de place */
    justify-content: center; 
    gap: 2em; /* Espace entre les éléments de la nav */
}

.navtext a {
    padding: 5px 15px;
    text-decoration: none; 
    color: inherit;
}

.navtext a:hover {
    background-color: #517aac;
    padding: 5px 15px;
    color: white;
    border-radius: 0.2em;
}

@font-face {
    font-family: 'Chau PhilomeneOne';
    src: url(../assets/chau-philomene-one/ChauPhilomeneOne-Regular.ttf);
}


.navbar-icons {
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

.notif, .profile {
    height: 30px;
    width: 30px;
}

.active {
    background-color: #517aac; 
    color: white; 
    border-radius: 0.2em;
}

/*FOOTER */

.foot_bar{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.foot_ul_text{
    list-style-type: none; /*pour faire invisible des points */
    display: flex;
    gap: 4em;
    justify-content: center;
    flex:4;
}
.foot_titre{
    flex:0.8;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
}

.foot_text{
    list-style-type: none;
    font-size: 18px;
    font-family: 'Chau PhilomeneOne';
    cursor: pointer;
    padding: 5px 15px;
    color: #ffffff;
    text-decoration: none; 
}

/*Pour la page modification d'un salarié*/
.saisie{
    background-color: #ffffff;
    display: flex;
    margin-left: 5em;
    width: 90%;
}

.modsallabel {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }

  .container_modsal {
    width: 80%;
    margin: 20px auto;
    margin-top: 5em;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h2 {
    color: #3a6ea5;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.form-group {
    display: flex;
    margin-bottom: 15px;
    justify-content: left;
    margin-left: 5em;
}
.form-group label {
    display: block;
    margin-bottom: -5px;
    color: #333;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group input[type="text"] {
    width: calc(50% - 10px);
}
.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.form-actions button {
    background-color: #3a6ea5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 2em;
    cursor: pointer;
}
.form-actions button.reset {
    background-color: #555;
}

/* ------------------------ MODIFICATION DE TANGUY POUR LA GESTION DES FICHES DE PAIE------------------------------------ */

.consult_paie{
    font-weight: bold;
    font-family: sans-serif;
    background-color: white;
    position: absolute;
    color: #000;
    top: 20%; /* Place l'élément en haut */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Ajuste pour centrer parfaitement */
    padding: 10px 75px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.historic_fiche_paie {
    font-family: sans-serif;
    background-color: white;
    position: absolute;
    color: #000;
    top: 30%;
    left: 50%;
    transform: translateX(-50%); /* Ajuste pour centrer parfaitement */
    padding: 20px 250px 20px 250px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style-type: none; /* Supprime les puces de la liste */
    z-index: -1;
}

.list-item {
    display: flex; /* Utilise flexbox pour l'alignement */
    justify-content: space-between; /* Espace entre les éléments */
    padding: 5px 0; /* Espacement entre les éléments */
    border: solid;
    border-width: 1px;
    border-radius: 5px;
}

.info {
    text-align: left; /* Aligne le texte à gauche */
}

.date {
    text-align: right; /* Aligne le texte à droite */
}


/* nouveau_compte */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -3em;
}

.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #444;
}

/*a partir d'ici gestion congé*/

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Conteneur pour les carrés */
.container {
    display: flex;
    gap: 60px; /* Espacement entre les carrés */
}

/* Style pour les carrés bleus */
.box {
    width: 225px;
    height: 225px;
    background-color: #517aac;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/* Style pour les boutons */
.box button {
    padding: 15px 30px;
    font-size: 25px;
    color: white;
    background-color: #517aac;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Effet hover sur les boutons */
.box button:hover {
    background-color: #517aac;
}

/*demande de congés 2*/

.main_valcong {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

/* Style pour le titre */
.titre {
    font-family: 'Chau philomene';
    color: #517aac;
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 1.5em;

}

/* Section de filtrage */
.filter-section {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: center;
}

th, td {
    padding: 12px;
}

th {
    background-color: #517aac;
    color: white;
}

td {
    background-color: #f9f9f9;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

button, input {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-classique {
    color: white;
    background-color: #517aac;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="number"] {
    border: 1px solid #ccc;
}

/* Styles des boutons */
.btn-accepter {
    background-color: #28a745; /* Vert */
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px; /* Espace entre les boutons */
}

.btn-refuser {
    background-color: #dc3545; /* Rouge */
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-reset {
    background-color: gray;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}

.btn-accepter:hover {
    background-color: #218838; /* Vert foncé au survol */
}

.btn-refuser:hover {
    background-color: #c82333; /* Rouge foncé au survol */
}

.table-container {
    height: 400px; /* Hauteur fixe */
    overflow-y: auto; /* Défilement vertical activé */
    margin-bottom: 20px;
}